.jumbotron {
	background-color: orange;
	color: darkgreen;
	text-align: center;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: orange;
	margin-bottom: 0px;
	margin-top: 10px;
}

.card-travel{
	flex: 1 150px;
	padding: 2px 5px;
	margin-top: 10px;
}

.btn-reserva{
	width: 100%;
}
